*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.showcase{
    width: 100%;
    height: 250px;
    border: 2px solid black;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.section{
    width: 100%;
    background-color: white;
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.flex-item{
width: 250px;
height: 400px;
}
.flex-item .img-container{
    height: 250px;
}
.flex-item .img-container img{
width: 100%;
height: 100%;
object-fit: contain;
}
.flex-item h2{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    background-color: aqua;
    text-align: center;
    font-size: 26px;
}
.flex-item p{
    color: black;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold; 
}
.p-specs{
    padding: 10px 10px;
}
.social-container{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}
.social-container h1{
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}
.social-container .social-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 0px;
}
.social-container .social-ul a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 15px;
}
